# Dependencies
node_modules/
.vite/
.cursorignore
.env
.env.*
.env.local
.env.development
.env.staging
.env.production

test-nodes
raycast-demo

# OS / local junk
.DS_Store

# Redis dump (runtime data)
dump.rdb

# Client build output
client/dist/